# Режим запуска приложения
# api | nats_publisher
MODE=api

# Применять ли миграции при старте (true/false)
APPLY_MIGRATIONS=true

# Путь до YAML-конфига приложения
# Для API:
#   ./config/api_worker.yaml
# Для publisher-воркера:
#   ./config/message_broker_publisher.yaml
CONFIG_FILE=./config/api_worker.yaml
